<div class="component" id="header">
  <mat-toolbar color="primary">
    <span>Ki Jung Kim</span>
    <span class="fill-space"></span>
    <mat-icon class="header-icon" svgIcon="angular" aria-label="Made with Angular icon" matTooltip="Powered By Angular"
      (click)="openTab('angular')"></mat-icon>
    <mat-icon class="header-icon" svgIcon="jasmine" aria-label="Tested with Jasmine icon"
      matTooltip="Tested with Jasmine" (click)="openTab('jasmine')">
    </mat-icon>
  </mat-toolbar>
  <app-navigation></app-navigation>
</div>